body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    color: #333;
}

header {
    background: #004080;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.foto-profil {
    width: 150px;
    border-radius: 50%;
    margin: 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th {
    background: #004080;
    color: white;
}

td, th {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

footer {
    background: #004080;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
